@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Comfortaa", cursive;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.container {
  width: 100%;
  min-width: 73.125em;
  margin: 0px;
  padding: 0px;
}

.content {
  width: 73.125em;
  margin: 0 auto;
  margin: 0px;
  padding: 0px;
}
